CONFIG_I2C=y
CONFIG_I2C_VIRTIO=y
CONFIG_SPI=y
CONFIG_SPI_VIRTIO=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_VIRTIO=y
CONFIG_SPI_MASTER=y
# ユーザー空間からの操作に必須
CONFIG_I2C_CHARDEV=y
# 同様にSPIをユーザー空間から使うならこれも必須
CONFIG_SPI_SPIDEV=y
